DS-single-message-API/Project3Task2Client/xml-resources/web-service-references/BlockChain/wsdl/localhost_8080/Project3Task2Server/BlockChain.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sisir.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sisir.andrew.cmu.edu/" name="BlockChain">
<types>
<xsd:schema>
<xsd:import namespace="http://sisir.andrew.cmu.edu/" schemaLocation="http://localhost:8080/Project3Task2Server/BlockChain?xsd=1"/>
</xsd:schema>
</types>
<message name="isChainVaild">
<part name="parameters" element="tns:isChainVaild"/>
</message>
<message name="isChainVaildResponse">
<part name="parameters" element="tns:isChainVaildResponse"/>
</message>
<message name="blockChainToString">
<part name="parameters" element="tns:blockChainToString"/>
</message>
<message name="blockChainToStringResponse">
<part name="parameters" element="tns:blockChainToStringResponse"/>
</message>
<message name="getHashValue">
<part name="parameters" element="tns:getHashValue"/>
</message>
<message name="getHashValueResponse">
<part name="parameters" element="tns:getHashValueResponse"/>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="compareBytes">
<part name="parameters" element="tns:compareBytes"/>
</message>
<message name="compareBytesResponse">
<part name="parameters" element="tns:compareBytesResponse"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<message name="getMenu">
<part name="parameters" element="tns:getMenu"/>
</message>
<message name="getMenuResponse">
<part name="parameters" element="tns:getMenuResponse"/>
</message>
<portType name="BlockChainServer">
<operation name="isChainVaild">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/isChainVaildRequest" message="tns:isChainVaild"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/isChainVaildResponse" message="tns:isChainVaildResponse"/>
</operation>
<operation name="blockChainToString">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/blockChainToStringRequest" message="tns:blockChainToString"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/blockChainToStringResponse" message="tns:blockChainToStringResponse"/>
</operation>
<operation name="getHashValue">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getHashValueRequest" message="tns:getHashValue"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getHashValueResponse" message="tns:getHashValueResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getHashValue/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getHashValue/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="compareBytes">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/compareBytesRequest" message="tns:compareBytes"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/compareBytesResponse" message="tns:compareBytesResponse"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/addBlockResponse" message="tns:addBlockResponse"/>
</operation>
<operation name="getMenu">
<input wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getMenuRequest" message="tns:getMenu"/>
<output wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getMenuResponse" message="tns:getMenuResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getMenu/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://sisir.andrew.cmu.edu/BlockChainServer/getMenu/Fault/NoSuchAlgorithmException"/>
</operation>
</portType>
<binding name="BlockChainServerPortBinding" type="tns:BlockChainServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isChainVaild">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blockChainToString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHashValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="compareBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BlockChain">
<port name="BlockChainServerPort" binding="tns:BlockChainServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task2Server/BlockChain"/>
</port>
</service>
</definitions>